<%- include('../../header.ejs')%>

    <!-- dashboard blog start -->
    <section class="dashboard-wrap mtb-40">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dash-left">
                            <ul>
                                <li class="active"><a href="/admin/dashboard" class="active mt-5">Dashboard</a></li>
                                <li><a href="/admin/displayblog">Blogs</a></li>
                                <li><a href="/admin/categoriedisplay">Categories</a></li>
                                <li><a href="/admin/contactdisplay">Contact</a></li>
                                <li><a href="/admin/aboutdisplay">About</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="dash-right">
                            <br>
                            <h1>Blog Update</h1>
                            <form action="/blogupdate/<%= edit._id %>" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="">Title</label>
                                    <input type="text" name="title" class="form-control" value="<%= edit.title %>">
                                </div>
                                <div class="mb-3">
                                    <label for="">Descriptaion</label>
                                    <textarea name="description" class="form-control" id="" cols="10" rows="5">
                                <%= edit.description %>
                            </textarea>
                                </div>
                                <div class="md-3 mb-3">
                                    <label for="">Upload Image</label>
                                    <input type="file" name="image" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <img src="<%= edit.image.url %>" width="50px" alt="">

                                </div>
                                
                                <button type="submit" class="btn btn-primary bg-blue-500"> Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- dashboard blog end -->






    <%- include('../../footer.ejs')%>